:root {
  --bg-main-color: #FFFDEE;
  --text-white-color: #FFFFFF;
  --text-yellow-color: #F3C653;
  --social-icon-color: rgba(243, 198, 83, 0.7);
  --bg-buttons-color: rgba(0, 0, 0, 0.4);
  --location-color: #E5E5E5;

}